@font-face {
    font-family: mona-sans;
    src: url(./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body {
  margin: 0;
  font-family: mona-sans;
  background: #f8f8f8;
  color: #333;
}
.header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo img{
  width: 100px;
  color: #000;
  letter-spacing: 2px;
}
.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
}
.nav a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}
.nav a:hover {
  color: rgb(136, 135, 135);
}
.right-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.right-bar a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.right-bar a:hover{
    color: rgb(136, 135, 135);
}
.right-bar :nth-child(2){
    background: #000;
    color:#fff;
    padding: 1em;
    border-radius: 2em;
}
.right-bar :nth-child(2):hover{
    background: rgb(136, 135, 135);
    color: #fff;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 5em;
}
.text{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.text h2{
    font-size: 3em;
}
.text .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.btns button{
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}
.btns .one{
    background-color: #333;
    color: #fff;
}
.vid video{
    width: 600px;
    object-fit: cover;
    border-radius: 18px;
}
.search-bar {
  max-width: 400px;
  position: relative;
  display: flex;
  align-items: center; 
}
.search-bar input {
  width: 400px;
  height: 50px;
  padding: 0.4rem 1.2rem;
  border: 1px solid #eee;
  border-radius: 30px;
  font-size: 1rem;
  background: #d6d5d5ef;
}
.search-bar i{
  position: absolute;
  right: 10px; 
  font-size: 18px;
  color: #fff;
  background-color: rgb(245, 100, 148);
  padding: 10px;
  border-radius: 50px;
}
.filter-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4.5em;
}
.filter-bar button{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: #d6d5d5ef;
    font-size: 15px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.filter a{
    text-decoration: none;
    color: #000;
}
.filter a:hover{
    color: rgb(136, 135, 135);
}
.shots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: auto;
  max-width: 1100px;
}
.shot-card {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.shot-img {
  width: 100%;
  display: block;
  aspect-ratio: 4/3;
  object-fit: cover;
  background: #ececec;
}
.card .bottom{
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, #111);
    color: #ffffffe3;
    bottom: -30%;
    transition: all ease 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.shot-card:hover .bottom{
    bottom: 0;
}
.icon i {
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
}
.card .shot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.shot-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 0.4rem 0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.shot-title img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.shot-meta {
  font-size: 0.9rem;
  color: #999;
}
.end-btn {
    text-align: center;
}
.end-btn button{
    background: #000;
    color:#fff;
    padding: 15px 20px;
    border: none;
    border-radius: 2em;
    margin: 20px;
}
.end-btn button:hover{
  background-color: rgb(66, 65, 65);
}
